{% extends "base12.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content12 %}

<div class="container mt-5">
        <div class="row">
        {% if request.user.id == profile.user.id %}
            <div class="col-md-12 text-end py-3">
                <a href="{% url 'profile_update' profile.pk %}" class="btn btn-secondary">Edit Profile</a>
            </div>
        {% endif %}
            <!-- Profile Sidebar -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        {% if profile.profile_pic %}
                            <img src="{{ profile.profile_pic.url }}" class="rounded-circle img-fluid" alt="Profile Picture">
                        {% endif %}
                        <h3 class="mt-3">{{ profile.title }} {{ profile.firstname }} {{ profile.lastname }}</h3>
                        <p class="text-muted">{{ profile.pronouns }}</p>
                        <p class="text-muted">{{ profile.slogan }}</p>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#messageModal">Get in touch!</button>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Contact Information</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Email:</strong> {{ profile.user.email }}</li>
                            <li class="list-group-item"><strong>WWW:</strong> <a href="{{ profile.homepage }}" target="_blank">{{ profile.homepage }}</a> </li>
                            <li class="list-group-item"><strong>Instagram:</strong> <a href="{{ profile.instagram }}" target="_blank">{{ profile.instagram }}</a></li>
                            <li class="list-group-item"><strong>LinkedIn:</strong> <a href="{{ profile.linkedin }}" target="_blank">{{ profile.linkedin }}</a></li>
                            <li class="list-group-item"><strong>Phone:</strong> {{ profile.phone }}</li>
                            <li class="list-group-item"><strong>Location:</strong> {{ profile.place }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Profile Content -->
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">About</h5>
                        <p class="card-text">{{ profile.bio | linebreaks }}</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Studies and Academic Career</h5>
                        <div class="list-group">
                            {% for acad in profile.academics.all %}
                            <div class="list-group-item">
                                <h6 class="mb-1">{{ acad.phase }} {{ acad.subject }}</h6>
                                <p class="mb-1">{{ acad.university }}, {{ acad.country }}</p>
                                <small>
                                    {% if not acad.end_date %}since {% endif %}
                                    {{ acad.start_date }}
                                    {% if acad.end_date %} &mdash; {{ acad.end_date }}{% endif %}
                                </small>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Work Experience</h5>
                        <div class="list-group">
                            {% for experience in profile.experiences.all %}
                            <div class="list-group-item">
                                <h6 class="mb-1">{{ experience.job_title }} at {{ experience.employer }}</h6>
                                <p class="mb-1">{{ experience.city }}, {{ experience.country }}</p>
                                <small>
                                    {% if not experience.end_date %}since {% endif %}
                                    {{ experience.start_date }}
                                    {% if experience.end_date %} &mdash; {{ experience.end_date }}{% endif %}
                                </small>
                            </div>
                            {% endfor %}
                            <!-- Add more posts here -->
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Other things</h5>
                        <div class="m-1">
                            <p class="card-text">{{ profile.otherthings | linebreaks }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- The Modal -->
        <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="messageModalLabel">Send a Message</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="py-2">The message will be sent via e-mail to {{ profile.first_name }} {{ profile.last_name }}.
                        Your full name and e-mail address will be visible to the recipient. If they reply to your message, the answer
                        will be sent to your e-mail address.</p>

                        <form id="messageForm">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="subjectText" class="form-label">Subject</label>
                                <input type="text" class="form-control" id="subjectText" name="subject">

                                <label for="messageText" class="form-label">Message</label>
                                <textarea class="form-control" id="messageText" rows="5" name="message"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="sendMessageButton">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


{% endblock %}

{% block scripts %}
        <script>
        $(document).ready(function() {
            $('#sendMessageButton').click(function() {
                var message = $('#messageText').val();
                var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

                if (!message || message.length === 0) {
                    alert('Please enter a message.');
                    return;
                }

                var subj = $('#subjectText').val();
                if (!subj || subj.length === 0) {
                    alert('Please enter a subject.');
                    return;
                }

                $.ajax({
                    url: "{% url 'send_message' %}",
                    type: "POST",
                    data: {
                        message: message,
                        subject: subj,
                        recipient: {{ profile.pk }},
                        csrfmiddlewaretoken: csrfToken
                    },
                    success: function(response) {
                        // Handle success
                        if (response.success) {
                            // Add Django message (this is a simplistic example)
                            alert('Message sent successfully!');
                        } else {
                            alert('Failed to send message.');
                        }

                    },
                    error: function(xhr, errmsg, err) {
                        // Handle error
                        alert('Error sending message: ' + errmsg);
                    }
                });

                // Close the modal
                $('#messageModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
                            
                
            });
        });
    </script>

{% endblock %}


