{% extends "base12.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content12 %}
      <h1 class="title">
          Profile for {{ user.username }}
      </h1>

      <form method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% for field in form %}
                    {% if field.errors %}
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>{{ field.label }}: {{ field.errors|striptags }}</span><br>
                    {% endif %}
                {% endfor %}
                {% for error in form.non_field_errors  %}
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span>Error: {{ error|striptags }}</span>
                {% endfor %}
            </div>
      {% endif %}

      {% bootstrap_form form %}


      <h2 class="title">Studies and Academic Carreer</h2>
          <h5 class="text-muted">Please provide info that you think others might find useful. Don't forget your Cognitive Science experience!</h5>
          <table class="table">
               {{ academics.management_form }}
               {% for form in academics.forms %}
                   {% if forloop.first %}
                       <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                   {% endif %}
                   <tr class="{% cycle 'row1' 'row2' %} academics_formset_row">
                        {% for field in form.visible_fields %}
                            <td>
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                   {% endfor %}
          </table>


      <h2 class="title">Work Experience</h2>
      <h5 class="text-muted">Please provide info that you think others might find useful.</h5>
      <table class="table">
           {{ experiences.management_form }}
           {% for form in experiences.forms %}
               {% if forloop.first %}
                   <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
               {% endif %}
               <tr class="{% cycle 'row1' 'row2' %} experiences_formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
               {% endfor %}
      </table>

      <h2 class="title">Other things</h2>
      <h5 class="text-muted">Please provide all info that you think others might find useful. Do contribute to Open Source projects? Are you experienced in dog sitter? Have you founded a non-profit organization?</h5>
      <div class="mb-3">
        <textarea class="form-control" id="other things" placeholder="Enter text" name="otherthings" rows="5">{{ object.otherthings  }}</textarea>
      </div>

        <button class="btn btn-primary"  type="submit" value="Save"/>Save</button> &nbsp; &nbsp;
         <a class="btn btn-outline-primary" href="{% url 'memberlist' %}">Cancel</a>

      <datalist id="pronouns-list">
                <option value="he/him">
                <option value="she/her">
                <option value="they/them">
                <option value="other">
      </datalist>

      <datalist id="uni-list">
          <option value="Universität Osnabrück">
      </datalist>

      <datalist id="phase-list">
          <option value="Bachelor">
          <option value="Master">
          <option value="PhD">
          <option value="Postdoc">
          <option value="Professor">
          <option value="Diplom">
          <option value="Magister">
      </datalist>


      </form>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.experiences_formset_row').formset({
        addText: 'add experience',
        deleteText: 'remove',
        prefix: 'experience_set'
    });
    $('.academics_formset_row').formset({
        addText: 'add academic',
        deleteText: 'remove',
        prefix: 'academic_set'
    });
</script>
{% endblock %}

